*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3%;
}
span{
    color: #febe01;
}

#ImgLogo{
    width: 200px;
    border-radius: 50%;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid-completo{
    background: black;
    color: #b2b2b2;
    padding: 30px;
}

.collumn-element{
    background: white;
    color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    text-align: center;
}

button{
    background-color: #febe01;
    border-radius: 3%;
    padding: 10px;
}
